.fs14 {
    font-size: 14px;
}
.purple {
   color: var(--main-purple);
}

#btn-contact {
    width: 178px;
    color: #FFFFFF;
    background: var(--main-purple);
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 35px;
    z-index: 2;
}


#btn-contact:hover {
    background: #FFFFFF;
    color: var(--main-purple);
    border: var(--main-purple) 1px solid;
}
