/* scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
    background: #FFFFFF;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: solid 1px #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b174cb83;
    border-radius: 10px;
    border: solid 1px #b174cb83;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b174cba5;
}

